@charset "UTF-8";
/* CSS for The Internet Peering Playbook */

.center {
}

.figure {
	font-weight: bolder;
	text-align: center;
	margin: 1em;
}
.NotesFromTheField {
	background-color: #3CF;
}
.NotesFromTheField p {
	font-style: italic;
}
.NotesFromTheFieldLabel {
	font-weight: bold;
	text-align: left;
}
.NotesFromTheFieldTitle {
	font-weight: bold;
	text-align: center;
}

h1 {
	color:#06F;
	text-align:center;
	text-decoration:underline;

}
h2 {
	color:#63F;
}
h3 {
	color:#F00;
}
p {
	margin-left:1em;
}

.attribution {
	text-align: right;
	font-style:italic;
	color:#933;
}

.quote {
	color:#933;
	text-align:center;
	font-style:italic;
}

.longquote {
	font-style:italic;
}

.definitionLabel {
	font-weight:bold;
}

.definition {
	font-style:italic;
	font-weight:bold;
}

.glow {  /* for the formula text */
	font-size:larger;
	color: green;
	background-color: black;
}

#topleftnav p, #toprightnav p{
	/*height: .5em;
	line-height: .5em;*/
}
#topleftnav, #bottomleftnav {
	text-align:left;
	background-color:yellow;
	padding-left:-1em;
	max-width: 30%;
}
#toprightnav,#bottomrightnav {
	text-align:right;
	background-color:lightgreen;
	padding-right:1em;
	max-width: 30%;
	float:right;
}
